
mongodb/data/diagnostic.data/metrics.2023-03-22T18-35-39Z-00000
mongodb/data/diagnostic.data/metrics.interim
mongodb/data/journal/WiredTigerLog.0000000007
mongodb/data/journal/WiredTigerLog.0000000007
mongodb/data/journal/WiredTigerLog.0000000008
mongodb/data/journal/WiredTigerLog.0000000007
mongodb/data/mongod.lock
*.lock
*.turtle
mongodb/data/mongod.lock
mongodb/data/collection-2--1357432787688528536.wt
mongodb/data/collection-2--1357432787688528536.wt
mongodb/data/mongod.lock
mongodb/data/WiredTiger.turtle
mongodb/data/WiredTiger.wt
*.wt
mongodb/data/journal/WiredTigerLog.0000000007
mongodb/data/*
