<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainStyle.css">
    <title>Crear Dataset</title>
</head>
<body>
    <header>
        <a href="mainpage">Inicio</a>
        <a href="userprofile">Mi cuenta</a>
    </header>

    <div class="form_Login">
        <form method="post" action="">
            <h5> Crear Dataset </h5>
            <input class="controls" type="text" name="name" value="" placeholder="Nombre del archivo">
            <input class="descriptionControl" type="text" name="description" value="" placeholder="Descripción">
            <input class="button" type="submit" name="" value="INGRESAR">
        </form>
    </div>

</body>
</html>