<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainStyle.css">
    <title>Datasets</title>
</head>
<style>
* {
         margin: auto;
         padding: auto;
         font-family: Arial, Helvetica, sans-serif;
     }
     h1, h2, h3, p{
         color:rgb(255, 255, 255);
     }
     h4{
        color: #fca311
     }

    .dynamic-block{
        text-align: center;
        border-style: solid;
        border-color: #aaaaaa;
        box-shadow: 0px 10px 5px #aaaaaa;
        padding: 20px;
        margin-left: 60vh;
        margin-right: 60vh;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 20px;
    }
    div{
        text-align: center;
    }
    button{
        border-radius: 5px;
        width: 40%;
    }


</style>
<body>
    <header>
        <a href="mainpage">Inicio</a> 
    </header>
    <div id="main-block" class="main-block">
        <h1>Usuario: <%- (username) %> </h1>
        <form action="followuser" method="post">
            <input type="text" value= "" hidden id="followusrname" name="followusrname" hidden>
            <input style="width: 30%" id="followbtn" class="buttonCreate" type="submit" name="" value="FOLLOW">
        </form>
        <form id="form-block" action="/datasetInfo" method="post">
        </form>
    </div>
</body>


<script>
    var datasets = <%- (datasets) %>;
    document.getElementById("followusrname").value = <%- (username) %>;
    var followed =  <%- (followed) %>;
    if(followed){
        console.log("No se puede seguir");
        const button = document.querySelector('#followbtn');
        button.disabled = true;
        button.value = "FOLLOWING";
    }
    var i = 0;
    while(datasets[i] != undefined){
        var div = document.createElement('div');
        div.className = "dynamic-block";
        var h3 = document.createElement('h3');
        var description = document.createElement('p');
        var btn = document.createElement('button');
        div.appendChild(h3);
        div.appendChild(description);
        div.appendChild(btn);
        h3.textContent = "Nombre del archivo: " + datasets[i].name;
        description.textContent = "Descripción: " + datasets[i].desc;
        btn.textContent = "Más información";
        btn.value=datasets[i]._id;
        btn.type = "submit";
        btn.name = "btn";
        document.getElementById('form-block').appendChild(div);
        i++
    }

</script>
</html>