<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/styleLogin.css">

</head>
<body>
    <form class="form_Login">
        <h5> BIENVENIDO </h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="button" type="submit" name="" value="INGRESAR">
        <p> <a href="#">¿No tienes cuenta? Registrate</a></p>
    </form>

</body>
</html>